.box1 {
    background-Color: #371B58; 
    height: 120px;
}

.box2 {
    background-Color: #4C3575;
    height: 60px;
}

.redes {
    font-Size: 60 !important;
    color: white;
}

.textos {
    color: white;
}