.redes-sociais {
    background-Color: #371B58; 
}

.txt-redes-sociais {
    color: white;
}

.generation-back {
    background-Color: #4C3575;
    height: 60px;
}

.icones-redes-sociais {
    font-Size: 60 !important;
    color: white;
}

.generation-brasil {
    color: white;
    text-decoration: none;
}

