.tab {
    background-color: #371B58 !important;
}

.tab-todas-postagens {
    color: white !important;
    font-weight: bold !important;
}

.tab-sobre {
    color: white !important;
    font-weight: bold !important;
}

.sobre-nos {
    color: white !important;
    font-weight: bold !important;
}

.sobre-nos-txt {
    color: white !important;
}